// settings
a {
	transition: .3s;
	text-decoration: none;
}
button {
	font-family: Gilroy;
	color: $black;
}
.row {
	@include row();
}
body {
	background-color: #fff;
	font-family: Gilroy;
	color: $black;
}
.mobile-hide {
	@media (max-width: $break_sm) {
		display: none;
	}
}
.mobile-visible {
	@media (min-width: $break_sm + 1) {
		display: none;
	}
}
.title-section {
	font-size: 4.5em;
	font-weight: normal;
	text-align: center;
	span {
		font-weight: bold;
	}
	@media (max-width: $break_sm) {
		font-size: 2.8em;
	}
}
// /settings

@import 'blocks/header';
@import 'blocks/first-screen';
@import 'blocks/select-zone';
@import 'blocks/advantages.scss';
@import 'blocks/set';
@import 'blocks/prize';
@import 'blocks/workers.scss';
@import 'blocks/equipment';
@import 'blocks/portfolio';
@import 'blocks/faq';
@import 'blocks/gallery';
@import 'blocks/comments';
@import 'blocks/insta';