// header
header.header#header
		.header_container

			a(href="index.html").logo
					img(src="img/logo.png", alt="logo")

			// menu
			//- .menu--left .menu--right .menu--top .menu--bottom .menu--drop
			#menu.menu.menu--right
				button#menu-btn.menu_btn.hamburger.hamburger--vortex(type="button")
					span.hamburger-box
						span.hamburger-inner
				nav.menu_nav
					ul.menu_list
						li.menu_item.mobile-visible
							a(href="index.html").logo
								img(src="img/logo.png", alt="logo")
						li.menu_item
							a(href="#").menu_link Главная
						li.menu_item
							a(href="#").menu_link Услуги
						li.menu_item
							a(href="#").menu_link Цены
						li.menu_item
							a(href="#").menu_link Акция
						li.menu_item
							a(href="#").menu_link Галерея
						li.menu_item
							a(href="#").menu_link Сотрудники
						li.menu_item
							a(href="#").menu_link Онлайн-запись
				.menu_over
				.contacts.mobile-hide
					.contacts_line.contacts_line--top
						a(href="tel:+79688088804").contacts_tel +7 (968) 808-88-04
						a(href="#").contacts_icon
							img(src="img/vk-icon.png", alt="vk")
					.contacts_line
						.contacts_adress ул. Земляной Вал, д. 38/40, корп. 6
						a(href="#").contacts_icon
							img(src="img/insta-icon.png", alt="instagramm")
			// /menu

// /header