// advantages
.advantages {
	position: relative;
	overflow: hidden;
	&_box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 6em 9.5em 2em 18em;
		position: relative;
		z-index: 3;
	}
	&_block {
		position: relative;
	}
	&_img {
		img {
			width: 39em;
		}
	}
	&_text {
		text-transform: uppercase;
		position: absolute;
		top: 4.6em;
		left: 3.4em;
		font-size: 2.2em;
		font-weight: bold;
		line-height: 1.5em;
		color: #fff;
	}
	&_list {

	}
	&_item {
		margin-bottom: 1.2em;
		position: relative;
		font-size: 1.7em;
		font-weight: 600;
		color: #ff8cbe;
		span {
			font-weight: normal;
			font-size: 0.8em;
		}
		&:after {
			content: '';
			display: block;
			width: 2.3em;
			height: 2.3em;
			background-image: url(../img/adventages-check.png);
			background-size: cover;
			position: absolute;
			top: 50%;
			left: -2.3em;
			transform: translate(0,-50%);
		}
	}
	&_slider {
		padding: 0 2em;
	}
	@media (max-width: $break_sm) {
		padding: 2em 0em 2em 0em;
		&:after {
			content: '';
			display: block;
			width: 50em;
			height: 70em;
			background: radial-gradient(#FDE1F4, #fff 70%);
			position: absolute;
			top: 21em;
			left: -7em;
			z-index: 1;
		}
		&:before {
			content: '';
			display: block;
			width: 10em;
			height: 20em;
			background-image: url(../img/advantages-bg.png);
			background-size: cover;
			position: absolute;
			top: 40em;
			right: 0;
			z-index: 2;
		}
		&_box {
			display: block;
			padding: 0;
		}
		&_img {
			margin-bottom: 5em;
			img {
				width: 100%;
			}
		}
		&_text {
			top: 3em;
			left: 2.6em;
			text-align: center;
		}
	}
}
.operating-time {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4.2em 0 0.5em 11em;
	position: relative;
	&_img {
		img {
			width: 51em;
		}
	}
	&_list {
		display: flex;
		justify-content: space-between;
		// width: 55em;
		position: absolute;
		top: 10em;
		right: 9em;
	}
	&_item {
		width: 9em;
		font-size: 2.3em;
		text-align: center;
		font-weight: 600;
		color: $pink;
		padding: 0 1em;
		position: relative;
		span {
			display: block;
			font-size: 0.6em;
		}
		&:after {
			content: '';
			display: block;
			width: 0.1em;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			background-color: #f4b6b3;
		}
		&:nth-child(3) {
			&:after {
				display: none;
			}
		}
	}
	@media (max-width: $break_sm) {
		padding: 7.7em 0 1em 0;
		&_img {
			position: absolute;
			top: -2em;
			right: 0.5em;
			z-index: 3;
			img {
				width: 14em;
			}
		}
		&_list {
			position: static;
			z-index: 3;
			flex-wrap: wrap;
		}
		&_item {
			width: 100%;
			margin-bottom: 1.8em;
			padding: 0 3em;
			span {
				margin-top: 1em;
			}
			&:after {
				width: 25%;
				height: 0.1em;
				left: 50%;
				transform: translate(-50%,0);
				top: auto;
				bottom: -1em;
			}
			&:nth-child(3) {
				margin-bottom: 0;
			}
		}
	}
}
.slider-adventages {
	border-radius: 2em;
	background-color: #fff;
	&_slide {

	}
	&_block {
		padding-bottom: 7em;
		position: relative;
	}
	&_img {
		margin-bottom: 2em;
		text-align: center;
		img {
			width: 100%;
		}
	}
	&_content {
		padding: 0 3em;
		text-align: center;
	}
	&_text {
		font-size: 1.2em;
		font-weight: 500;
		line-height: 1.4em;
		margin-bottom: 2.1em;
	}
	&_list {

	}
	&_item {
		margin-bottom: 0.65em;
	}
	&_icon {
		margin-top: -1em;
		position: absolute;
		left: 0;
		bottom: 5em;
		width: 100%;
		text-align: center;
		img {
			display: inline-block;
			width: 2.7em;
		}
	}
	&_title {
		font-size: 1.1em;
		font-weight: 600;
		color: $pink;
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 3.5em;
	}
	&_btn {
		position: absolute;
		bottom: 3em;
		z-index: 3;
		cursor: pointer;
		img {
			display: block;
			width: 2.8em;
		}
		&--prev {
			left: 3.5em;
			img {
				transform: rotate(180deg);
			}
		}
		&--next {
			right: 3.5em;
		}
	}
	.slick-dots {
		position: absolute;
		bottom: 1.3em;
		left: 50%;
		transform: translate(-50%,0);
		li {
			display: inline-block;
			margin: 0 4px;
		}
		button {
			font-size: 0;
			width: 15px;
			height: 15px;
			border: none;
			outline: none;
			border-radius: 50%;
			background-color: #EEC1D9;
		}
		.slick-active {
			button {
				background-color: #E296BF;
			}
		}
	}
	@media (max-width: $break_xs) {
		.slick-dots {
			button {
				width: 8px;
				height: 8px;
			}
		}
	}
}
// /advantages