// portfolio
.portfolio {
	padding: 14em 0em 13em 0em;
	position: relative;
	&_content {
		width: 22em;
		padding: 1em 1em 1em 1em;
		position: absolute;
		top: 15.5em;
		left: 26em;
		z-index: 2;
	}
	&_slider-for {

	}
	&_title {
		margin-bottom: 0.4em;
		font-size: 5em;
		font-weight: 500;
		color: $pink;
	}
	&_nav {

	}
	&_img {
		img {
			width: 19em;
		}
	}
	&_img2 {
		position: absolute;
		top: 8em;
		right: 36em;
		z-index: 1;
		img {
			width: 9em;
		}
	}
	&_slider {

	}
	@media (max-width: $break_sm) {
		padding: 2em 3em;
		&_title {
			font-size: 2.5em;
			margin-bottom: 0;
		}
		&_content {
			width: 100%;
			position: relative;
			padding: 1em 0;
			top: auto;
			left: auto;
		}
		&_nav {
			display: flex;
			position: absolute;
			top: 1em;
			left: 50%;
			transform: translate(-50%,0);
		}
		&_img {
			position: absolute;
			left: 0;
			bottom: -7.5em;
			img {
				width: 10em;
			}
		}
		&_img2 {
			top: 0em;
			right: 0em;
			img {
				width: 7em;
			}
		}
	}
}
.slider-portfolio {
	position: relative;
	z-index: 1;
	&_btn {
		font-size: 3.3em;
		span {
			display: inline-block;
			cursor: pointer;
		}
		&--prev {

		}
		&_next {

		}
	}
	&_slide {
		height: 100%;
		text-align: center;
	}
	&_slide-block {
		display: inline-block;
		position: relative;
		img {
			width: 28em;
			&[data-time="next"] {
				display: none;
			}
		}
	}
	&_toggle {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: absolute;
		left: 50%;
		bottom: 1em;
		transform: translate(-50%,0);
	}
	&_text {
		display: block;
		font-size: 1.7em;
		color: #fff;
		font-weight: 500;
	}
	&_check {
		display: block;
		position: relative;
		margin: 0 1em;
	}
	&_line {
		display: block;
		width: 4em;
		height: 0.25em;
		background-color: #fff;
		border-radius: 5em;
	}
	&_circle {
		display: block;
		width: 1.3em;
		height: 1.3em;
		background-color: $pink;
		border-radius: 50%;
		border: 0.3em solid #fff;
		position: absolute;
		top: 50%;
		left: -0.5em;
		transform: translate(0,-50%);
		transition: 0.5s;
	}
	label {
		cursor: pointer;
	}
	input[type=checkbox] {
		display: none;
		&:checked {
			~ .slider-portfolio_toggle {
					.slider-portfolio_check {
						.slider-portfolio_circle {
						left: 85%;
					}
				}
			}
			~ img {
				&[data-time="prev"] {
					display: none;
				}
				&[data-time="next"] {
					display: block;
				}
			}
		}
	}
	.slick-center {
		.slider-portfolio_slide-block {
			width: 29.3em;
			margin-left: 9em;
			position: relative;
			img {
				width: 100%;
			}
		}
	}
	.slick-track {
		display: flex;
		align-items: center;	
	}
	@media (max-width: $break_sm) {
		&_slide-block {
			img {
				margin-left: auto;
				margin-right: auto;
			}
		}
		&_toggle {

		}
		&_text {
			font-size: 1.4em;
		}
		&_circle {
			width: 1em;
			height: 1em;
			border-width: 0.1em;
		}
		&_btn {
			margin: 0 0.4em;
			img {
				width: 0.8em;
			}
			&--prev {
				img {
					transform: rotate(180deg);
				}
			}
			span {
				&.mobile-hide {
					display: none;
				}
			}
		}
	}
}
.slider-portfolio-for {
	&_slide {
		margin-bottom: 1em;
		font-size: 3em;
		font-weight: 500;
	}
	@media (max-width: $break_sm) {
		&_slide {
			font-size: 2em;
		}
	}
}
// /portfolio