.tabs {
	&_trigger {
		li {
			display: inline-block;
			cursor: pointer;
			user-select: none;
			&.active {
				background-position: -25em 0;
			}
			&:hover {
				background-position: -25em 0;
			}
		}
	}
	&_content {
		div {
			&.hide {
				display: none;
			}
		}
	}
}